---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PUEBLO - Agencia de Comunicaciones">
  <main>
    <header
      class="py-1 px-10 flex items-center fixed top-0 w-full justify-between z-50  "
    >
      <div>
        <img class="h-20 w-20" src="public/img/logoP.png" alt="" />
      </div>

      <nav>
        <ul
          class="flex text-lg cursor-pointer [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 text-gray-200"
        >
          <li><a href=""></a>Inicio</li>
          <li><a href=""></a>Nuestro trabajo</li>
        </ul>
      </nav>
    </header>

    <section
      class="min-[320px]:min-h-1/2 sm:h-screen  text-center relative overflow-hidden"
    >
      <div class="absolute top-0 bottom-0">
        <video autoplay muted loop src="public/portadados.mp4"></video>
      </div>
    </section>

    <section class="text-center">
      <div class="text-gray-600 flex-col md:px-96">
        <h2 class="pt-14 pb-5 text-4xl font-medium">Pueblo</h2>
        <p class="">
          Somos un equipo de personas con un objetivo muy simple: hacer que las
          marcas que buscan relacionarse con el deporte sobre todo el fútbol, se
          conecten de manera relevante con la gente a través de un pensamiento
          estratégico, una cretividad relevante y un diseño imoactante
        </p>

        <p class="">
          <h3 class="font-medium text-xl mt-3 mb-3">El fútbol</h3>
          El fútbol no es solo un juego o un espectaculo, también es un motor de
          cambio social capaz de tocar a millones de personas. Una oportunidad única
          para que las marcas se conecten de manera profunda y siginifcativa con
          cada hincha, fanatico o simpatizante de un club o selección.
        </p>
        <p>
          <h3 class="font-medium text-xl mt-3 mb-3">El trabajo</h3>
          Tenemos casi 10 años de experiencia trabajando confederaciones de fútbol,
          los principales clubes del Perú, marcas deportivas y marcas comerciales
          que buscan relacionarse con el fútbol. Cada trabajo que hacemos debe ser
          especial, memorable, efectivo, pero sobre todo único, ya que cada marca
          se debe relacionaral fútbol de marea diferente para encontrar su propio
          espacio de conectar con la gente. Trabajamos de manera colaborativa en
          todos los puntos de contacto que una marca necesite, desde contenidos audiovisuales
          capaces de rebotar en medios hasta el más pequeño de los merch. Todo es
          comunicación y todo es relevante.
        </p>
        <h3 class="font-medium text-xl mt-3">
          Bienvenidos y que empiece el juego.
        </h3>
      </div>
    </section>

    <section class="mt-20">
      <div class="text-center">
        <img
          src="public/img/oscar.jpg"
          class="mx-auto mb-4 w-auto"
          alt="Avatar"
        />
        <h5 class="text-gray-600 mb-2 text-xl font-medium leading-tight">
          Oscar Tamayo
        </h5>
        <p class="text-neutral-500 dark:text-neutral-400">
          Fundador & Director Creativo
        </p>
      </div>
    </section>

    <section>
      <!-- Container for demo purpose -->
      <div class="container my-24 mx-auto md:px-6">
        <!-- Section: Design Block -->
        <section class="mb-32 text-center">
          <div class="py-12 md:px-12">
            <div class="container mx-auto xl:px-96">
              <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                <div
                  class="relative z-[1] block bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_5px_10px_-3px_rgba(0,0,0,0.07),0_5px_10px_-2px_rgba(0,0,0,0.03)] backdrop-blur-[20px] dark:bg-[#ffffff] dark:shadow-black/10 md:px-12 lg:-mr-14"
                >
                  <h2 class="mb-12 text-gray-600 text-3xl font-bold">
                    Contáctanos
                  </h2>
                  <form>
                    <div class="relative mb-6" data-te-input-wrapper-init>
                      <input
                        type="text"
                        class="peer outline-gray-600 block min-h-[auto] w-full border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-gray-600 dark:placeholder:text-gray-600 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        id="exampleInput90"
                        placeholder="Name"
                      />
                      <label
                        class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-gray-600 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-600 dark:peer-focus:text-gray-300"
                        for="exampleInput90"
                        >Nombre
                      </label>
                    </div>
                    <div class="relative mb-6" data-te-input-wrapper-init>
                      <input
                        type="email"
                        class="peer outline-gray-600 block min-h-[auto] w-full border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-gray-600 dark:placeholder:text-gray-600 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        id="exampleInput91"
                        placeholder="Email address"
                      />
                      <label
                        class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-600 dark:peer-focus:text-gray-300"
                        for="exampleInput91"
                        >Tú correo
                      </label>
                    </div>
                    <div class="relative mb-6" data-te-input-wrapper-init>
                      <textarea
                        class="peer outline-gray-600 block min-h-[auto] w-full border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-0 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-gray-600 dark:placeholder:text-gray-600 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        placeholder="Your message"></textarea>
                      <label
                        for="exampleFormControlTextarea1"
                        class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-gray-600 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-600 dark:peer-focus:text-gray-600"
                        >Mensaje</label
                      >
                    </div>
                    <button
                      type="button"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                      class="inline-block w-full bg-slate-900 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] lg:mb-0"
                    >
                      enviar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Design Block -->
      </div>
    </section>

    <!--Footer-->
    <footer
      class="bg-neutral-100 text-center text-gray-500 dark:bg-slate-900 dark:text-neutral-200 lg:text-left"
    >
      <!-- Main footer content -->
      <div class="container mx-auto px-4">
        <div class="mx-6 py-5 text-center md:text-left">
          <div class="py-1 px-10 flex items-center justify-between max-[500px]:flex-col">
            <a
              class="mb-4 flex items-center justify-center md:justify-start"
              href="mailto:Yonatan@pueblo.pe?subject= Necesito información"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="mr-2 h-6 w-6"
              >
                <path
                  d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                ></path>
                <path
                  d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                ></path>
              </svg>
              Yonatan@pueblo.pe
            </a>
            <a
              class="mb-4 flex items-center justify-center md:justify-start"
              href="tel:51952219594"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="mr-2 h-6 w-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                  clip-rule="evenodd"></path>
              </svg>
              +51 952219594
            </a>

            <div class="flex items-center justify-center md:justify-start">
              <a
                href="https://www.facebook.com/PuebloPublicidad"
                class="mr-6 text-gray-500 dark:text-gray-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                  ></path>
                </svg>
              </a>
              <a
                href="https://www.linkedin.com/company/pueblopublicidad/?originalSubdomain=pe"
                class="mr-6 text-gray-500 dark:text-gray-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Copyrights -->
    <div class="bg-neutral-200 pb-10 text-center dark:bg-slate-900 text-gray-200">
      <span>© 2023 Copyright:</span>
      <span>PUEBLO</span>
    </div>

  </main>
  <!--Footer-->
</Layout>
