---
import Footer from "../components/Footer.astro";
import Formulario from "../components/Formulario.astro";
import PortadaInicio from "../components/PortadaInicio.astro";
import PuebloHeader from "../components/PuebloHeader.astro";
import TeamFotoInicio from "../components/TeamFotoInicio.astro";
import TextoInicio from "../components/TextoInicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PUEBLO - Agencia de Comunicaciones">
  <PuebloHeader />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
    <div class="snap-center">
      <PortadaInicio />
    </div>

    <div class="snap-start">
      <TextoInicio />
    </div>
    <div class="snap-start">
      <TeamFotoInicio />
    </div>
    <div class="snap-start">
      <Formulario />
    </div>
    <div class="snap-start">
      <Footer />
    </div>
  </main>
  <!--Footer-->
</Layout>
