---
import Section from "./Section.astro";
---

<Section
color="white">
<div slot="footer"
class=" min-[320px]:min-h-1/2 sm:h-screen text-center relative overflow-hidden
"

>
<div class="absolute top-0 bottom-0">
  <video autoplay muted loop src="public/portadados.mp4"></video>
</div>
</div>
</Section>