
---
import Section from "./Section.astro";
---


<Section
color="black">


<div slot="footer" class="text-center">
    <div class="text-gray-600 flex-col md:px-96">
      <h2 class="pt-14 pb-5 text-4xl font-medium">Pueblo</h2>
      <p class="">
        Somos un equipo de personas con un objetivo muy simple: hacer que las
        marcas que buscan relacionarse con el deporte sobre todo el fútbol, se
        conecten de manera relevante con la gente a través de un pensamiento
        estratégico, una cretividad relevante y un diseño imoactante
      </p>

      <p class="">
        <h3 class="font-medium text-xl mt-3 mb-3">El fútbol</h3>
        El fútbol no es solo un juego o un espectaculo, también es un motor de
        cambio social capaz de tocar a millones de personas. Una oportunidad única
        para que las marcas se conecten de manera profunda y siginifcativa con
        cada hincha, fanatico o simpatizante de un club o selección.
      </p>
      <p>
        <h3 class="font-medium text-xl mt-3 mb-3">El trabajo</h3>
        Tenemos casi 10 años de experiencia trabajando confederaciones de fútbol,
        los principales clubes del Perú, marcas deportivas y marcas comerciales
        que buscan relacionarse con el fútbol. Cada trabajo que hacemos debe ser
        especial, memorable, efectivo, pero sobre todo único, ya que cada marca
        se debe relacionaral fútbol de marea diferente para encontrar su propio
        espacio de conectar con la gente. Trabajamos de manera colaborativa en
        todos los puntos de contacto que una marca necesite, desde contenidos audiovisuales
        capaces de rebotar en medios hasta el más pequeño de los merch. Todo es
        comunicación y todo es relevante.
      </p>
      <h3 class="font-medium text-xl mt-3">
        Bienvenidos y que empiece el juego.
      </h3>
    </div>
  </div>
</Section>